Repository KleberBarilli/review-xxx-server, changes with the labels that .github/labeler.yml gives for each.
All labels: config, common, app, infra, resources, processors, test, documentation, docker, github, dependencies

test ci
  .github/workflows/ec2_beta.yml
  src/main/java/com/idealizer/review_x/application/modules/users/validators/UserValidator.java
  src/test/java/com/idealizer/review_x/application/modules/provider/services/implementations/CreateProviderServiceImplTest.java
Labels: app, test, github

test ci
  src/main/java/com/idealizer/review_x/application/modules/users/validators/UserValidator.java
Labels: app

test ci
  .github/workflows/label.yml
Labels: github

test ci (#20)
  .github/workflows/ec2_beta.yml
  .github/workflows/label.yml
  src/main/java/com/idealizer/review_x/application/modules/users/validators/UserValidator.java
  src/test/java/com/idealizer/review_x/application/modules/provider/services/implementations/CreateProviderServiceImplTest.java
Labels: app, test, github

test ci
  .github/workflows/label.yml
Labels: github

test ci
  .github/workflows/labeler.yml
Labels: github

16 cicd (#22)
  .github/workflows/labeler.yml
Labels: github

test ci
  src/main/java/com/idealizer/review_x/infra/processors/UpdateTokenTwitchProcessor.java
Labels: infra, processors

test ci
  .github/workflows/label.yml
Labels: github

test ci (#23)
  .github/workflows/label.yml
  src/main/java/com/idealizer/review_x/infra/processors/UpdateTokenTwitchProcessor.java
Labels: infra, processors, github

test ci
  src/main/resources/toDo.md
Labels: resources

Update README.md
  README.md
Labels: none

feat: find all games dto
  src/main/java/com/idealizer/review_x/infra/http/modules/game/GameController.java
  src/main/java/com/idealizer/review_x/infra/http/modules/game/dto/FindAllGamesDTO.java
Labels: infra

feat: sync games
  src/main/java/com/idealizer/review_x/infra/processors/SyncIgdbGameProcessor.java
Labels: infra, processors

13 sync games processor (#27)
  src/main/java/com/idealizer/review_x/infra/http/modules/game/GameController.java
  src/main/java/com/idealizer/review_x/infra/http/modules/game/dto/FindAllGamesDTO.java
  src/main/java/com/idealizer/review_x/infra/processors/SyncIgdbGameProcessor.java
Labels: infra, processors

revert
  docker-compose.yml
Labels: docker

.github/labeler.yml:

# .github/labeler.yml

config:
  - src/main/java/com/idealizer/review_x/config/**/*

common:
  - src/main/java/com/idealizer/review_x/common/**/*

app:
  - src/main/java/com/idealizer/review_x/application/**/*

infra:
  - src/main/java/com/idealizer/review_x/infra/**/*

resources:
  - src/main/resources/**/*

processors:
  - src/main/java/com/idealizer/review_x/infra/processors/**/*

test:
  - src/test/java/com/idealizer/review_x/**/*

documentation:
  - docs/**/*

docker:
  - Dockerfile
  - docker-compose.yml
  - ./docker/**/*

github:
  - .github/**/*

dependencies:
  - pom.xml
  - .mvn/**/*
  - .github/dependabot.yml
